@tailwind base;
@tailwind components;
@tailwind utilities;

.menu-active .menu {
    @apply translate-x-0;
}

.menu-open-btn::before {
    content: '';
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.5);   
    visibility: hidden;
    opacity: 0;
}

.menu-active .menu-open-btn::before {
    visibility: visible;
    opacity: 1;
}
